@font-face { /*importation de la police Ferro-rosso.ttf*/
    font-family: 'ferrari';
    src: url('ferro-rosso.ttf');
}
@font-face { /*importation de la police Louis George Cafe.ttf*/
    font-family: 'cafe';
    src: url('Louis George Cafe.ttf');
}

header { /*centrage du texte du header*/
  text-align: center;
}

/*début css du menu*/
#menu {
  padding: 0; margin: 13px;
}
#menu li {
  display: inline;
  list-style: none;
}
#menu a {
  display:inline-block;
  margin: 0 23px;
  text-align: center;
}
#menu img {
   vertical-align: middle;
}
/*fin css du menu*/

body { /*caractéristiques du corps du texte*/
  background-color: #01061d;
  text-align: center;
  vertical-align: middle;
}

#titre h1 { /*caractéristiques du titre H1*/
  font-family: cafe;
  font-size: 2.5rem;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  width: 6em
}

/*début des liens et animations css du menu*/
#menu a {
  font-family: cafe;
  font-size: 1.4rem;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  text-align: center;
}
 
#menu a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  font-color: black;
  background: #c4151c;
  transition: width 500ms ease;
}
 
#menu a:hover:after {
  width: 100%;
}
/*fin css du menu*/

/*début caractéristiques du l1*/
#l1 { 
  padding: 0; margin: 13px;
}
#l1 li {
  display: inline;
  list-style: none;
}
#l1 a {
  display:inline-block;
  margin: 0 23px;
  text-align: center;
}
#l1 img {
   vertical-align: middle;
}
/*fin caractéristiques du l1*/

nav{ /*caractéristiques de la zone nav*/
  text-align: center;
  position: fixed;
  top: 80%;
  z-index: 2;
  width: 100%;
}

div{ 
  display: inline-block;
  margin: 0px -2px;
  width: 200px;
  height: 50px;
  overflow: hidden;
  vertical-align: middle;
}

div:hover{ /*animation css de la zone div lors du survolement*/
  height: auto;
}

nav a{ /*caractéristiques des liens de la zone nav*/
  display: block;
  padding: 0px 20px;
  height: 50px;
  line-height: 50px;
  color: black;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: bold;
}

#Q1 p { /*caractéristiques du paragraphe de la zone Q1*/
  font-family: cafe;
  font-size: 0.8em;
  color: white;
}