@font-face {
    font-family: 'ferrari';
    src: url('ferro-rosso.ttf');
}
@font-face {
    font-family: 'cafe';
    src: url('Louis George Cafe.ttf');
}

header {
  text-align: center;
}
#menu {
  padding: 0; margin: 13px;
  background-color: black;
}
#menu li {
  display: inline;
  list-style: none;
}
#menu a {
  display:inline-block;
  margin: 0 23px;
  text-align: center;
}
#menu img {
   vertical-align: middle;
}

#background-video {
height: 110vh;
width: 100vw;
object-fit: cover;
position: fixed;
left: 0;
right: 0;
top: 0;
bottom: 0;
z-index: -1;
}

h1, h2, #btnVideo{

color: black;
font-family: Trebuchet MS;
font-weight: bold;
text-align: center;
}

h1 {
font-size: 6rem;
margin-top: 30vh;
}

h2 { font-size: 3rem; }

#btnVideo{
font-size: 1.5rem;
background: 0;
border: 0;
margin-left: 50%;
transform: translateX(-50%);
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  background-color: black;
  background-repeat: no-repeat;
  background-size: 30%;
  background-position: bottom;
  position: fixed;
}

a {
  font-family: cafe;
  font-size: 1.3rem;
  position: relative;
  text-decoration: none;
  color: white;
  padding: 10px 0;
  text-align: center;
}
 
a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  font-color: black;
  background: red;
  transition: width 500ms ease;
}
 
a:hover:after {
  width: 100%;
}

.titre h1 {
  font-family: ferrari;
  font-size: 7rem;
  color: black;
  text-shadow: 5px 5px 5px white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 6em
  vertical-align: middle;
}

.sous-titre {
  text-align: center;
}