@font-face {
  font-family: Druk Wide Bold;
  src: url("Druk Wide Bold.ttf");
  font-weight: bold;
}

body{
	/* #050506 */
	background-color: #050506;
	margin: 2% 5% 2% 5%;
	overflow-x: hidden; 
	overflow-y: hidden;
	animation: fadein 2s linear;  
}

body p {
	font-family: Druk Wide Bold;
	color: white;
}

.header {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 70px;
	grid-row-gap: 0px;
	width: 80%;
	position: absolute;
	font-family: Druk Wide Bold;
	color: white;
	text-align: center;
	display: flex;
	align-items: center;
}

.header a{
	font-size: 0.70em;
	color: white;
	text-decoration: none;
}

.header a:hover {
	color: #953902;
	transition: all 0.4s;
}

.logo { grid-area: 1 / 1 / 2 / 2; }
.bikes { grid-area: 1 / 2 / 2 / 3; }
.accessories { grid-area: 1 / 3 / 2 / 4; }
.new_tech { grid-area: 1 / 4 / 2 / 5; }
.explore { grid-area: 1 / 5 / 2 / 6; }

.specs {
	background-color: #050506;
	position: absolute;
	display: table-column;
	right: 13.5%;
	top: 5%;
	height: 58%;
	width: 18%;
	font-family: Druk Wide Bold;
	font-size: 0.43em;
	color: white;
	text-align: left; 

}

.specs p {
	color: lightgrey;
}

.specs h1 {
	font-size: 2.5em;
}

.specs1 {
	padding-bottom: 40px;
	padding-top: 5px;
}
.specs2 {
	padding-bottom: 18px;
}
.specs3 {
	padding-bottom: 15px;
}

.horizontal_texts {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 0px;
	position: absolute;
	z-index: 1;
	right: 32%;
	top: 3.8%;
	height: 60%;
	font-family: Druk Wide Bold;
	font-size: 0.43em;
	color: white;
	writing-mode: vertical-rl;
	transform: rotate(180deg)
}

.horizontal_texts h1 {
	color: grey;
	font-size: 1.3em;
}

.title4 {
	white-space: nowrap;
}
.title3 {
	white-space: nowrap;
}
.title2 {
	white-space: nowrap;
}
.title1 {
	white-space: wrap;
	vertical-align: text-top;
}

.photo1 img{
	height: 400px;
	position: absolute;
	left: 5%;
	top: 10%;
}
.photo2 img{
	height: 400px;
	position: absolute;
	left: 50.5%;
	top: 10%;
}
.photo3 img{
	height: 190px;
	position: absolute;
	left: 56%;
	bottom: 0;
}
.photo4 img{
	width: 80%;
	position: absolute;
	left: 0;
	bottom: 22%;
	animation: zoomi 1s linear;
}
.gold_background img {
	width: 100%;
	transform: rotate(-90deg);
	position: absolute;
	z-index: 1;
	right: -65%;
}


.circle img {
	width: 100px;
	position: absolute;
	z-index: 1;
	top: 17%;
	right: 49%;
  	animation: rotation 20s infinite linear;
}

.text {
	width: 20%;
	text-align: justify;
	position: absolute;
	bottom: 5%;
	left: 35%;
}

.text p{
	color: lightgrey;
	font-size: 0.5em;
}

.slider {
	display: flex;
	position: absolute;
	bottom: 7%;
	align-items: center;
	justify-content: space-between;
	width: 25%;
}

.slider a {
	letter-spacing: 10px;
	font-family: Druk Wide Bold;
	color: white;
	text-decoration: none;
}

.slider a:hover {
	color: #953902;
	transition: all 0.4s;
}

.bar { 
	background-color: white;
	height: 8px;
	width: 50%;
}

.bar2 { 
	background-color: #953902;
	height: 8px;
	width: 50%;
}

/*---------- @keyframes --------------*/

@keyframes rotation {
  	from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@keyframes fadein {
 	0% {
 		opacity:0;
 	}
	50%{
		opacity:0.5;
	}
	100% {
	 	opacity:1;
	}
}

@keyframes zoomi {
	0% {
		width: 50%;
	}
	50% {
		width: 65%;
	}
	100% {
		width: 80%;
	}
}